.post {
    display: flex;
    width: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post__image {
    max-width: 500px;
}
.post__text {
 margin: 20px 0px 20px 20px
}
.post__text {
    font-weight: normal;
    padding: 5px;
}
.post__form {
    display: flex;
    margin-top: 20px;
}
.post__input {
    flex: 1;
}